{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm border-0">
            <h2 class="mb-4 text-center fw-bold">გააფორმე შეკვეთა 🛒</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label(class="form-label fw-bold") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.phone.label(class="form-label fw-bold") }}
                    {{ form.phone(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.address.label(class="form-label fw-bold") }}
                    {{ form.address(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.notes.label(class="form-label fw-bold") }}
                    {{ form.notes(class="form-control", rows="3") }}
                </div>
                {{ form.submit(class="btn style-btn w-100 mt-2") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}